@font-face {
  font-family: 'AtariPongScore';
  src: url('/src/fonts/atari_pong.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.gameCanvas {
	display: block;
	background: black;
	/* cursor: none; */
}